@page
@model TicketWave.Pages.Buy.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].TicketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].TicketQuant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].SellerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].EventDecription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].SellerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].BuyerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].OfferAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventListing[0].FileUploads)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventListing) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketQuant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDecription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUploads)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventListingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventListingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventListingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
